<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Matt Militello</title>
    <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body>
      <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:matthewj.militello@yahoo.com">matthewj.militello@yahoo.com</a>
        <i class="icofont-phone"></i> 937 307 8391
      </div>
      <div class="social-links">
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="https://www.linkedin.com/in/matthewjmilitello/" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>
    <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Matt's Personal Site</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#pricing">Files</a></li>
          <li><a href="#team">Login</a></li>
          <li><a href="#team">New</a></li>
          <li class="drop-down"><a href="">Games</a>
            <ul>
              <li><a href="#">Space Shooter</a></li>
              <li class="drop-down"><a href="#">Unity Games</a>
                <ul>
                  <li><a href="#">Farming Simulator</a></li>
                  <li><a href="#">Tower Defense</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#services">Contact</a></li>
	<li><a href="#team">Logout</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

<div class="alert alert-{{alert.level}}" role="alert" {{#unless alert}}
 style="display: none;" {{/unless}}>
  <h4 class="alert-heading">{{alert.title}}</h4>
  <p>{{alert.message}}</p>
</div>
</body>
{{{body}}}
   <div id="container" style="text-align: right; background-color: slategrey;" class="footer fixed-bottom card">
      <p class="col-11" >Created by: Matt Militello</p>
      </div>
