  <body>
    <section id="about" class="about">
      <div class="container position-relative">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" >
           <!--Edit this line --> <img src="/views/assets/img/Photo.jpg" class="img-fluid" alt="Picture of me">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style="color:white">A little more information about myself:</h3>
            <p class="font-italic" style="color:white">
              This project was started July 29, 2021 and is worked on purely in my free time.
            </p>
            <ul>
              <li style="color:white"><i class="icofont-check-circled"></i> Graduated from the University of Kentucky with a Bachelors in Computer Science and Minor in Mathematics (Dec, 2021)</li>
              <li style="color:white"><i class="icofont-check-circled"></i> Relevant work experience at Badger Technologies</li>
              <li style="color:white"><i class="icofont-check-circled"></i> Experience with Github, Jira, and Confluence as well as many programming languages(Too many to name individually see Resume)</li>
            </ul>
            <p style="color:white">
              Originally I am from Dayton, Ohio but currently reside in Lexington, Kentucky.  I have many hobbies that I enjoy outside of the work environment
              some of my favorites include: Playing guitar and bass, Gardening, and working on tech related passion projects.  My most recent project was to create
              this website but also to host my own server for the website and other things such as a mail server. 
            </p>
            <p style="color:white">
            If you are interested in hiring me please take a copy of my resume:
            </p>
          <!--Add correct link here -->  <a href="#" download>
            <p>Download</p>
            </a>
          </div>
        </div>

      </div>
    </section>
    </body>
