 <!doctype html>
<html lang="en">
  <body>
    <form method="GET">
 <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Games</span>
          <h2>Games</h2>
          <p>Here are some games i've developed for various classes. Two games developed in Unity and one is a Javascript game.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <!--Include correct Image--><img src="assets/img/team/team-1.jpg" alt="">
              <h4>Space shooter</h4>
              <span>Javascript</span>
              <p>
                Developed for a class on web development.
              </p>
              <div class="social">
               <a href="space" class="btn-get-started nav-link">Play</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <!--Include correct Image--> <img src="assets/img/team/team-2.jpg" alt="">
              <h4>Tower Defence</h4>
              <span>Unity</span>
              <p>
                Developed for a class on game development.
              </p>
              <div class="social">
                <a href="tower" class="btn-get-started nav-link">Play</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
             <!Include correct Image--> <img src="assets/img/team/team-3.jpg" alt="">
              <h4>Farming Simulator</h4>
              <span>Unity</span>
              <p>
               Developed for a class on game development.
              </p>
              <div class="social">
                <a href="farm" class="btn-get-started nav-link">Play</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
</body>
