<!doctype html>
<html lang="en">
  <body>
    <form method="GET">
<!-- ======= Home section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to my website</h1>
      <h2>I am a developer with a Bachelors in Computer Science from the University of Kentucky</h2>
      <a href="about" class="btn-get-started nav-link">Learn More</a>
    </div>
  </section>
</body>
