	<body>
		
		<div id="game_wrapper" style="padding-top: 150px; background-color:black">
		<a href="about" class="btn-get-started scrollto">Learn More</a>	
			<canvas id="game_canvas" style="border: 1px solid black;margin: 0 auto;display: block;">
			</canvas>
			
			<span id="game_state"></span>
			
		</div>
        <div style="background-color:black; color:white">
            <span id="score"></span>
			<span id="topscore"></span>
        </div>
		
		
	</body>
	<script src="/views/assets/space_shooter.js"></script>
