    <!-- ======= About Section ======= -->
<!doctype html>
<html lang="en">
  <body>
    <form method="GET">

    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
           <!--Edit this line --> <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Tower Defence</h3>
             <p>
             This is a game I made for class in Unity.  Very simple game but one of my favorites due to my love for tower defence games.
             *Please note* I am not an assets designer and only consider myself good at writing code, so please excuse the very ugly look to the game.
            </p>           
            <p>
            If you wish to play the game click the link below!
            </p>
          <!--Add correct link here -->  <a href="#" download>
            <p>Download</p>
            </a>
          </div>
        </div>

      </div>
    </section>
  </body>
